[Unit]
Description= NoQueue API node
After=network.target

[Service]
User=root
WorkingDirectory=/root/fuprox_api
ExecStart=/root/fuprox_api/venv/bin/gunicorn -b 0.0.0.0:4000 -w 4 app:app
Restart=always

[Install]
WantedBy=multi-user.targe