[Unit]
Description=Sockets_module_fuprox_mpesa
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3	/root/fuprox_dash/app.py
[Install]
WantedBy=multi-user.target