[Unit]
Description=FUPROX_SERVER_MODULE
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/.pyenv/shims/python   /root/fuprox_api/venv/bin/gunicorn --workers 4 --bind 0.0.0.0:4000 -m 007 wsgi:app
[Install]
WantedBy=multi-user.target