[Unit]
Description= NoQueue MPESA node
After=network.target

[Service]
User=root
WorkingDirectory=/root/mpesa-callback
ExecStart=/root/mpesa-callback/venv/bin/gunicorn -b 0.0.0.0:65123 -w 3 app:app
Restart=always

[Install]
WantedBy=multi-user.target

