[Unit]
Description=Sockets_module_fuprox_mpesa
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/mpesa-callback/venv/bin/gunicorn -b 0.0.0.0:65123 -w 3 app:app
[Install]
WantedBy=multi-user.target