[Unit]
Description=RESET_TICKETS_FUPROX
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /root/reset_tickets/app.py
[Install]
WantedBy=multi-user.target