[Unit]
Description=fuprox_sockets
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3   /root/noqueue_online_sockets/app.py
[Install]
WantedBy=multi-user.target